# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

### Some of the keytakeaways from this course include: 

__Objectives:__
* Tools for Data Science
* Data Science Methodology
* Python for Data Science
* SQL and Databases
* Naturual Language Toolkits

### Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. Julia
4. Java
5. SQL

### Some of the commmonly used libraries by Data Scientists include: 

1. Pandas (Python)
2. NumPy (Python)
3. Caret (R)
4. ggplot2 (R)

|Data Science Tools|
|---------------|
|Anaconda|
|RStudio|
|GoogleColab|

### Below are a few examples of evaluating arithmetic expressions in Python

#### This is a simple arithmetic expression to multiply then add integers

In [12]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60.

In [13]:
200/60

3.3333333333333335

## Author

## Lucas Hilbert